.ibps-crud-search-form{
  .el-form-item--default.el-form-item,
  .el-form-item--medium.el-form-item,
  .el-form-item--mini.el-form-item,
  .el-form-item--small.el-form-item{
    margin-bottom: 5px;
    margin-right: 5px;
    margin-left: 5px;
  }
 .el-range-editor.el-input__inner{
     width: 217px;
  }
  .el-range-editor--medium.el-input__inner{
     width: 217px;
  }
  .el-range-editor--small.el-input__inner{
    width: 215px;
  }
  .el-range-editor--mini.el-input__inner{
    width: 193px;
  }
}