// element 样式补丁

.el-card {
  &.is-always-shadow {
    box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
  }
  &.is-hover-shadow {
    &:hover {
      box-shadow: 0 0 8px 0 rgba(232,237,250,.6), 0 2px 4px 0 rgba(232,237,250,.5);
    }
  }
}

.el-menu--horizontal {
  border-bottom: none !important;
}

.el-tabs__item:focus.is-active.is-focus:not(:active) {
  box-shadow: none !important;
}

//暂时性解决diolag 问题 https://github.com/ElemeFE/element/issues/2461
// .el-dialog {
//   transform: none;
//   left: 0;
//   position: relative;
//   margin: 0 auto;
// }
.el-dialog{
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
  max-height: calc(100%);
  max-width :calc(100%);
  display:flex;
  flex-direction:column;
  >.el-dialog__body{
    overflow:auto;
  }
  .el-dialog__header{
    border-bottom: 1px solid #dcdfe6;
  }
  .el-dialog__footer{
    border-top: 1px solid #dcdfe6;
  }

}
.el-dialog__wrapper{
  overflow: hidden!important;
}
//element ui upload
.upload-container {
  .el-upload {
    width: 100%;
    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}


/**修复滚动条的bug**/
.el-scrollbar .el-scrollbar__wrap {
  overflow-x: hidden !important;
}

.el-scrollbar__bar.is-horizontal{
  height: 8px !important;
}
.el-scrollbar__bar.is-vertical{
  width: 8px  !important;
}

.el-table th {
  background-color: #F5F5F6!important;
}

.el-table__empty-block{
  min-width:100%;
}

.el-dropdown-link{
  cursor: pointer;
  color: #409eff;
  font-weight: normal;
}

.el-checkbox{
  margin-right: 10px;
}

.el-select-dropdown{
  max-width: 100%;
}
